.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
  position: relative;
}

.fullscreenContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

/* Remove old styles */
.content {
  display: none;
}

.vmContainer {
  display: none;
}

.panelContainer {
  display: none;
}
