.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .content {
    flex-direction: row;
  }
}

.vmContainer {
  flex: 1;
}

.panelContainer {
  width: 100%;
}

@media (min-width: 1024px) {
  .panelContainer {
    width: 320px;
    min-width: 320px;
  }
}

